#score { text-align: center; }

#game {
  padding: 20px;
    width: 750px;
    height: 350px;
    border: 2px solid black;
    margin: auto;
    background-image: url("../kepek/background.png");
    background-size: cover;
    background-position: center;
    border-image: repeating-linear-gradient(30deg, #ff0000, #ff0000, #00ff00, #00ff00, #ffffff, #ffffff 20px) 20;
    border-image-outset: 10px;
    border-image-width: 10px;
    box-shadow: 0px 15px 25px 25px rgba(255, 255, 255, 0.25);
    z-index: -999;
  }
  
  #dino {
    width: 82px;
    height: 114px;
    top: 240px;
    position: relative;
    background-image: url("../kepek/dino.png");
    background-size: cover;
    z-index: 1;
  }

  #rock {
    width: 75px;
    height: 99px;
    position: relative;
    top: 140px;
    left: 710px;
    background-image: url("../kepek/rock.png");
    background-size: cover;
    animation: rock 1.33s infinite linear;
    z-index: 1;
  }
  
  @keyframes rock {
    0%{left: 710px;}
    100%{left: -26px;}
  }
  
  .jump-animation {
    animation: jump 0.65s cubic-bezier(0.18, 0.60, 0.20, 0.97);
  }
  
  @keyframes jump {
    0%{top: 240px;}
    50%{top: 75px;}
    100%{top: 240px;}
  }