* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

#container {
    height: 400px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}

#container #miku {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 28px;
    left: 20px;
}

#container #miku img {
    height: 70px;
    width: 70px;
}

.mikuActive {
    animation: animatemiku 0.5s linear infinite;
}

@keyframes animatemiku {

    0%,
    100% {
        bottom: 28px;
    }

    45%,
    55% {
        bottom: 160px;
    }
}

#container #csomagok {
    height: 80px;
    width: 125px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

#container #csomagok img {
    height: 80px;
    width: 125px;
}

.csomagokActive {
    animation: csomagokAnimate 1s linear infinite;
}

@keyframes csomagokAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}

#container #hater {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

#container #hater img {
    height: 30px;
    width: 2000px;
    position: absolute;
    left: 0;
    animation: none;
}

@keyframes haterAnimate {
    0% {
        left: 0;
    }

    100% {
        left: -800px;
    }
}

