#score { text-align: center; color: white;}

#game {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  background-image: url("./background.jpeg");
  background-size: cover;
}

#dino {
  height: 100px;
  width: 100px;
  top: 212px;
  position: relative;
  background-image: url("./dino.png");
  background-size: cover;
}

#rock {
  width: 75px;
  height: 75px;
  position: relative;
  top: 129px;
  left: 550px;
  background-image: url("./rock.png");
  background-size: cover;
  animation: rock 1.25s infinite cubic-bezier(1, 1, 0, 0);
}

@keyframes rock {
  0%{left: 550px;}
  100%{left: -50px;}
}

.jump-animation {
  animation: jump .85s ease-out;
}

@keyframes jump {
  0%{top: 212px;}
  50%{top: 75px;}
  100%{top: 212px;}
}